[submodule "lib/stm_common"]
	path = lib/stm_common
	url = ../stm_common.git
[submodule "lib/stm_flash"]
	path = lib/stm_flash
	url = ../stm_flash.git
[submodule "lib/stm_sdram"]
	path = lib/stm_sdram
	url = ../stm_sdram.git
[submodule "lib/stm_log"]
	path = lib/stm_log
	url = ../stm_log.git
[submodule "lib/stm_littlefs"]
	path = lib/stm_littlefs
	url = ../stm_littlefs.git
