[submodule "lib/stm_common"]
	path = lib/stm_common
	url = https://github.com/NingZiXi/stm_common.git
[submodule "lib/stm_flash"]
	path = lib/stm_flash
	url = https://github.com/NingZiXi/stm_flash.git
[submodule "lib/stm_sdram"]
	path = lib/stm_sdram
	url = https://github.com/NingZiXi/stm_sdram.git
[submodule "lib/stm_log"]
	path = lib/stm_log
	url = https://github.com/NingZiXi/stm_log.git
