[submodule "lib/stm_common"]
	path = lib/stm_common
	url = ../stm_common.git
[submodule "lib/stm_flash"]
	path = lib/stm_flash
	url = ../stm_flash.git
[submodule "lib/stm_sdram"]
	path = lib/stm_sdram
	url = ../stm_sdram.git
[submodule "lib/stm_log"]
	path = lib/stm_log
	url = ../stm_log.git
[submodule "lib/stm_littlefs"]
	path = lib/stm_littlefs
	url = ../stm_littlefs.git
[submodule "skills/stm32-app-main"]
	path = skills/stm32-app-main
	url = ../stm32-app-main.git
[submodule "lib/esp_at_client"]
	path = lib/esp_at_client
	url = ../esp_at_client.git
[submodule "lib/stm_ota"]
	path = lib/stm_ota
	url = ../stm_ota.git
